.logo {
  /* border-style: solid; */
  margin-right: 1em;
  max-width: 20vw;
  display: inline;
}

.skyline {
  background-image: url(./img/skyline-large.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;
  filter: invert(1);
}
.skyline > * {
  filter: invert(1);
}

@media (max-width: 1080px) {
  .logo {
    width: 100vw;
  }
  .skyline {
    background-image: url(./img/skyline-medium.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: unset;
    filter: invert(1);
  }
}

@media (max-width: 768px) {
  .logo {
    width: 100vw;
  }
  .skyline {
    background-image: url(./img/skyline-small.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: unset;
    filter: invert(1);
  }
}

body {
  filter: invert(1);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    48deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(123, 0, 224, 1) 35%,
    rgba(11, 0, 224, 1) 100%
  );
  background-attachment: fixed;
}

img.sewing-icon {
  width: 20%;
}

.invert {
  filter: invert(1);
}